@import '../variables';

.header {
  border-bottom: 3px solid $gray-line;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }

 &__city {
  height: 100%;
  font-size: 20px;
  text-decoration: underline double $orange;
  transition: 3 s;
 }

  &__city:hover {
    text-decoration: underline $gray-line;
  }

  &__logo {
    display: flex;

    img {
      height: 100%;
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
